section{
    display: grid;
    place-items: center;
    padding-top: 50px;
}
.image{
    position: relative;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.tooltip{
    visibility: hidden;
    position: absolute;
    top: 21px;
    background-color: black;
    color: #fff;
    padding: 7px;
    border-radius: .3em;
}
.tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 45%;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent;
}
.image:hover + .tooltip{
    visibility: visible;
}